*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

.row::after {
	content: "";
	display: block;
	clear: both;

}

html {
	background:#000;
}
body {
    background-image: url(../img/espaco.png);
/*	background-attachment: fixed;
*/}

#geral {
/*    background-image: url(../img/espaco.png);
*/}

/*pagina responsável pelo scroll*/
#page {
	width: 100%;
	height: auto;
	left: 0;
	top: 0;
}

#container {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: transparent;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx camada horizontal piso*/


.camada-horizontal {
	width:18000px;
	height: 100%;
	position: absolute;
	overflow: hidden;

}
#camada-horizontal-2 {
	top:-90px;
	width:18000px;
	height: 90px;
	position: absolute;
	z-index: 2000;
}

.fundoSpacial {
	background-image: url(../img/fundoSpacial.png) !important;

}
#planoFundo3 {
    height: 100%;
    background-image: url(../img/espaco.png);
}
#planoFundo2 {
    height: 100%;
    background-image: url(../img/fundogeral.png);
    background-image: url(../img/planoFundo2.png);
}
#planoFundo1 {
    height: 100%;
    background-image: url(../img/fundogeral.png);
    background-image: url(../img/planoFundo1.png);
}

[class*="terra-grama"]{
	width: 100%;
	height: 50%;
	position: absolute;
	left: 0;
	top:50%;
}


.terra {
	width: 100%;
	height: 100%;
	background-image: url(../img/ground.png);
	background-repeat: repeat-x; 
	position: absolute;
}


.grama {
	width: 100%;
	height: 50px;
	position: absolute;
}

#aviao {
	width: 200px;
	height: 175px;
	background-image: url(../img/aviao.png);
	position: absolute;

}

.hangar,.hangarb {
	height: 300px;
	width: 166px;
	position: absolute;
	z-index: 5;
	background-image: url(../img/hangar.png);
	background-repeat: no-repeat;
}
.hangar2, .hangar2b {
	height: 300px;
	width: 500px;
	position: absolute;
	z-index: 2001;
	background-image: url(../img/hangar2.png);
	background-repeat: no-repeat;
}

.hangar2b, .hangarb {
	left: 1000px !important;
}

.fim {
	background-repeat: no-repeat;
	position: absolute;
	z-index: 2001;
		left: 1000px !important;

background-image: url(../img/placaFim.png);
}
#aviao-nivel1b {
	width: 200px;
	height: 175px;
	left: 1000px;
	border:1px solid red;
	background-image: url(../img/aviao.png);
	position: absolute;

}

#base {
	width: 320px;
	height: 400px;
	left: 4080px;
	background-image: url(../img/basefoguete.png);
	position: absolute;

}

#foguete {
	width: 320px;
	height: 400px;
	left: 4080px;
	background-image: url(../img/fogueteparado.png);
    background-repeat: no-repeat;
    background-position-y:90px;
    background-position-x:-960px;
	position: absolute;

}
#foguete-decola {
	position: absolute;
	left:27%;
	width: 320px;
	height: 400px;
	z-index: 1999;
    display: none;
    background-image: url(../img/fogueteparado.png);
    background-position-y:70px; 
}

#foguete-decola.inginicao {

	position: absolute;
	left:20%;
	width: 320px;
	height: 400px;
	z-index: 1999;
    display: none;
    background-image: url(../img/fogueteparado.png);
}

#foguete-decola.start {
		background-position-x: -320px;
		background-position-y: 0;
		animation-name:decolaFoguete;
		animation-duration:1s;
		animation-iteration-count:infinite;
		animation-timing-function: steps(2);
		animation-fill-mode: forwards;
}	

@keyframes decolaFoguete {
		100% {
			background-position-x: -960px;
		}
}

#foguete-decola.orbita {
		background-position-y: 0;
		background-position-x: 0;
		animation-name:orbita;
		animation-duration:10s;
		animation-iteration-count:infinite;
		animation-timing-function: ease-in-out;
		animation-fill-mode: forwards;
}

#foguete-decola.para {
		background-position-y: 0;
		background-position-x: 0;
		animation-name:para;
		animation-duration:4s;
		animation-iteration-count:1;
		animation-timing-function: ease-in-out;
		animation-fill-mode: forwards;
}

#foguete-turbo {
	height: 40px;
	width: 40px;
	position: absolute;
	bottom: 200px;
	left: 161px;
	background-image: url(../img/botao-foguete.png);
	background-position-x:-40px; 

}

#foguete-turbo:hover {
	background-image: url(../img/botao-foguete.png);
	background-position-x:-80px; 
}

#foguete-turbo.active {
	background-image: url(../img/botao-foguete.png);
	background-position-x:-120px; 
}

#foguete-turbo.atencao {
	animation-name:atencao;
	animation-duration:1s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(2);
}

@keyframes atencao {
	0% {
		background-position-x: 0;
	}

	100% {
		background-position-x: -80px;
	}
}



@keyframes orbita {
	0% {
		bottom: 20%;
	}

	50% {
		bottom: 30%;
	}
	100% {
		bottom: 20%;
	}
}
@keyframes para {
	100% {
		bottom: 10%;
	}
}

#foguete.inginicao-start {
		animation-name:liga,inginicao;
		background-position-x: -960px;
		background-position-y: 0px;
		animation-duration:2s,1s;
		animation-iteration-count:1,infinite;
		animation-timing-function:ease-in, steps(2);
		animation-fill-mode: forwards;
}	

@keyframes inginicao {
		100% {background-position-x:-1600px;}
}
@keyframes liga {
		10% {background-position-y:0px;}
}


.botaofoguete {
	position: relative;
    top: 350px;
    border: 1px solid red;
    display: block;
    width: 100px;
    margin: 0 auto;
}
.faixa {
	width: 200px;
	height: 175px;
	background-image: url(../img/aviao.png);
	position: absolute;

}


.esconde-visibilidade {
	visibility: hidden !important;
}
.show {
	display: block !important;
}
.hidden {
	display: none !important;
}
#clock-disparar {
	width: 125px;
	height: 125px;
	top: 15px;
	left: 25px;
	position: absolute;
	background-image: url(../img/decolar.png);

}

#controle-lancamento {
	position: absolute;
	bottom:121px;
	left: 22px;
	z-index: 9000;
}

#controle-lancamento ul li {
	list-style-type: none;
	display: block;
	width: 50px;
	height: 50px;
	cursor: pointer;
}


#controle-lancamento ul li[data=true] {
	background:#00ff00;
}
#controle-lancamento ul li[data=true]:hover {
	background:#00aa00;
}
#controle-lancamento ul li[data=false] {
	background:#ff0000;
}
#controle-lancamento ul li[data=false]:hover {
	background:#aa0000;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx personagem*/

#juca.pequeno {
	position: absolute;
	left:30%;
	width: 110px;
	height: 100px;
    background-image: url(../img/novo.png);
    z-index: 2001;
}



#juca.pilota-aviao {
	background-image: url(../img/aviao.png) !important;
	width: 200px !important;
	height: 175px !important;
}

#juca.pilota-foguete {
	background-image: url(../img/astronauta.png) !important;

}

#juca.corre {
		background-position-x: -200px;
		animation-name:play;
		animation-duration:1s;
		animation-iteration-count: infinite;
		animation-timing-function: steps(2);
}

#juca.pilota-aviao {
		animation-name:play-aviao;
		animation-duration:1s;
		animation-iteration-count: infinite;
		animation-timing-function: steps(5);
}

@keyframes play-aviao {
		0% {
			background-position-x: -200px;
		}
		100% {
			background-position-x: -1200px;
		}
}

@keyframes play {
		100% {
			background-position-x: -220px;
		}
}

@keyframes play2 {
		100% {
			background-position-x: -220px;
		}
}



#clock-disparar.start {
		background-position-x: 0px;
		animation-name:decolar;
		animation-duration:5s;
		animation-iteration-count:1 ;
		animation-timing-function: steps(4);
		animation-fill-mode: forwards;
}	

@keyframes decolar {
		100% {
			background-position-x: -500px;
		}
}



@media screen and (max-width: 768px) {
	#foguete-decola {
		left: 15%;
	}
}
