*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

.row::after {
	content: "";
	display: block;
	clear: both;

}

html {
	background:#000;
}
body {
   /* background-color: #00bff3;*/
    background-color: #A67C52;
    /*background-image: url("../img/espaco.png");*/
	background-attachment: fixed;
}

/*pagina responsável pelo scroll*/
#page {
	width: 100%;
	height: auto;
	left: 0;
	top: 0;
}

#container {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
/*	border:5px solid red;
*/	background-color: transparent;
}

#escuro {
 background:linear-gradient(#000 0%,#00bff3 0%);	
 opacity: 1;

 height: 100%;

}

#escuro.escurecer {
	animation-name:escurecer;
	animation-duration:3s;
	animation-iteration-count:1;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}
@keyframes escurecer {
	0% {
		opacity: 1;
	}
	50%{
		opacity: 0.5;
	}

	100% {
 		opacity: 0;

	}
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx camada horizontal piso*/


.camada-horizontal {
	width:40000px;
	height: 100%;
	position: absolute;
	overflow: hidden;

}
#camada-horizontal-2 {
}
#camada-horizontal-1 {
}


[class*="terra-grama"]{
	width: 100%;
	height: 50%;
	position: absolute;
	left: 0;
	top:50%;
}


.terra {
	width: 100%;
	height: 100%;
	background-image: url(../img/ground.png);
	position: absolute;
}


.grama {
	width: 100%;
	height: 50px;
	background-image: url(../img/grass.png);
	position: absolute;
}

#aviao {
	width: 200px;
	height: 175px;
	background-image: url(../img/aviao.png);
	position: absolute;

}
#aviao-nivel1b {
	width: 200px;
	height: 175px;
	left: 1000px;
	border:1px solid red;
	background-image: url(../img/aviao.png);
	position: absolute;

}

#base {
	width: 600px;
	height: 300px;
	left: 4000px;
	border:1px solid red;
	/*background-image: url(../img/aviao.png);*/
	background:yellow;
	position: absolute;

}

#foguete {
	width: 200px;
	height: 400px;
	left: 4200px;
	border:1px solid red;
	/*background-image: url(../img/aviao.png);*/
	background:blue;
	position: absolute;

}

.botaofoguete {
	position: relative;
    top: 350px;
    border: 1px solid red;
    display: block;
    width: 100px;
    margin: 0 auto;
}
.faixa {
	width: 200px;
	height: 175px;
	background-image: url(../img/aviao.png);
	position: absolute;

}


.esconde-visibilidade {
	visibility: hidden !important;
}

#clock-disparar {
	width: 200px;
	height: 200px;
	border:1px solid red;
	background-image: url(../img/decolar.png);

}

#controle-lancamento ul li {
	list-style-type: none;
	display: inline-block;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

#controle-lancamento ul li[data=true] {
	background:#00ff00;
}
#controle-lancamento ul li[data=true]:hover {
	background:#00aa00;
}
#controle-lancamento ul li[data=false] {
	background:#ff0000;
}
#controle-lancamento ul li[data=false]:hover {
	background:#aa0000;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx personagem*/

#juca {
	position: absolute;
	left:30%;
	width: 200px;
	height: 175px;
	border:1px solid red;
    background-image: url(../img/juca3.png);
    z-index: 2000;
}

#juca.pilota-aviao {
	background:#fff !important;
}

#juca.pilota-foguete {
	background:#fff !important;
	height: 400px !important;
}

#juca.corre {
		background-position-x: -200px;
		animation-name:play;
		animation-duration:1s;
		animation-iteration-count: infinite;
		animation-timing-function: steps(2);
}	

@keyframes play {
		100% {
			background-position-x: -600px;
		}
}



#clock-disparar.start {
		background-position-x: 0px;
		animation-name:decolar;
		animation-duration:5s;
		animation-iteration-count:1 ;
		animation-timing-function: steps(3);
		animation-fill-mode: forwards;
}	

@keyframes decolar {
		100% {
			background-position-x: -600px;
		}
}







/*}

.pular {
		animation-name:pulo;
		animation-duration:1s;
		animation-iteration-count: infinite;
		animation-timing-function: steps(4);
}
@keyframes pulo {

		0%{
				bottom:;
		}
		50% {

		}
		100% {

		}
}*/