*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

.row::after {
	content: "";
	display: block;
	clear: both;

}

body {
    background-color: #00bff3;
}

/*pagina responsável pelo scroll*/
#page {
	width: 100%;
	height: auto;
	left: 0;
	top: 0;
}

#container {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
/*	border:5px solid red;
*/	background-color: transparent;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx camada horizontal piso*/


.camada-horizontal {
	width:20000px;
	height: 100%;
	position: absolute;
	overflow: hidden;

}
#camada-horizontal-2 {
}
#camada-horizontal-1 {
}


[class*="terra-grama"]{
	width: 100%;
	height: 50%;
	position: absolute;
	left: 0;
	top:50%;
}


.terra {
	width: 100%;
	height: 100%;
	background-image: url(../img/ground.png);
	position: absolute;
}


.grama {
	width: 100%;
	height: 50px;
	background-image: url(../img/grass.png);
	position: absolute;
}


/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx personagem*/

#juca {
	position: absolute;
	left:30%;
	width: 200px;
	height: 175px;
	border:1px solid red;
    background-image: url(../img/robby-slides.png);
    z-index: 2000;
}



	#juca.corre {
		background-position-x: -200px;
		animation-name:play;
		animation-duration:1s;
		animation-iteration-count: infinite;
		animation-timing-function: steps(2);
	}	

	@keyframes play {
		100% {
			background-position-x: -600px;
		}
	}







/*}

.pular {
		animation-name:pulo;
		animation-duration:1s;
		animation-iteration-count: infinite;
		animation-timing-function: steps(4);
}
@keyframes pulo {

		0%{
				bottom:;
		}
		50% {

		}
		100% {

		}
}*/