/*
xxxxxxxxxxxxxxxxxxxxxxxx Author
Gledson luciano da silva
outubro 2018

*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	background: #fff;
	color:#fff;
	font-size: 1em;
	font-family: helvetica;
	line-height: 1.5em;
}

@font-face {
    font-family: game;
    src: url(VCR_OSD_MONO_1.001.ttf);
}

@font-face {
	font-family: ralewaySemiBold;
	src:url(Raleway-SemiBold.ttf);
}
@font-face {
	font-family: raleway;
	src:url(Raleway-Regular.ttf);
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx MENU*/

#menu {
	background:rgba(255, 255, 255, 0.95);
	border-bottom: 1px solid #d8d8d8;
	font-family: raleway;
	font-size: 0.8em;
	text-transform: uppercase;
	height: 40px;
	padding: 10px 0 0 0;
	position: fixed;
	top: 0;
	z-index: 1000;

}

#menu ul li {
	display: inline-block;
	float: left;
	list-style-type: none;
	margin: 0 24px;
}

#menu a{
	color:#777;
	display: inline-block;
	text-decoration: none;
}

#menu a:hover{
	border-bottom: 4px solid #8cc63e;
}

.float-right {
	float: right !important;
}
.lista-menu{
	max-width: 1024px;
	margin: 0 auto;
	overflow: hidden;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx apresentacao*/
section#apresentacao {
	margin-top: 40px;
	background: #22A9A7;
	background: #7098A8;
	color: #f1c40f;
	text-shadow: 0px 2px 2px #777;
	font-size: 1.5em;
}
h1 {
	margin-bottom: 15px;
	text-align: center;
	font-size: 2em;
    text-shadow: 0px 2px 2px #777;
    padding-bottom: 15px;
    border-bottom: 2px solid;
    border-color: rgba(255,255,255,0.19);
    font-family: game;
}
h2 {
	margin: 10px 0;
	font-family: game;
}
article {
	margin: 15% auto;
	max-width: 1024px;
}


.conteudo {
	padding: 10px;
	font-family: helvetica;
}


section#tempo {
	background: #01223a;
	color:#f1c40f; 
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx tempo*/
#tempo-pensamento {
	background:#fff;
	border-radius: 10px;
	height: 300px;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx tabela*/
.engloba-tabela {
	height: 0;
	display: none;
	overflow: hidden;
	opacity: 0;
}

.engloba-tabela.show {
	height: 100%;
	animation-name: mostraTabela;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

@keyframes mostraTabela {
	0% {
		height: 0px;
	}
	100% {
		height: 100%;
		opacity: 1;
	}
}
.engloba-tabela {
	margin: 20px 0;
}
section#tabelas {
	background: #3B8686;
	color: #f1c40f;
}

#tabelas a {
    text-decoration: none;
    color: #142133;
    font-weight: bold;
}
#tabelas a:hover {
	color:#8cc63e;
}

section#tabelas article {
/*	margin-top: 40px !important; 
*/}

table {
	margin: 0 auto;
	width: 95%;
	text-align: center;
	border-collapse:collapse;
	font-family:helvetica;
	font-size: 0.9em;

}
table td, table th {
	border:1px solid #fff;
	padding: 5px;
}

table caption {
	background: #142133;
	color:#3B8686;
	padding: 10px 5px;
	font-weight: bold;

}
table thead th {
	background: #0B486B;
	color: #ffffff;
	font-weight: 700;

}

table tr {
	color: #0B486B;
}

table tr:nth-child(odd) {
background: #AABFCB;
}
table tr:nth-child(even) {
	background: #CEDAE1;
}

table tr td:first-child {
	width: 5%;
	font-weight: bold;
}
table tr:hover {
	background: #799AAE;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx sistema*/
section#sistema {
	background: #22A9A7;
	color: #f1c40f;
}	

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx rodape*/
#rodape  {
	text-align: center;
	background: #f1c40f;
	background: #8cc63e;

	padding:10px;
}
#rodape img {
	margin: 0 auto;
}

#rodape .setaTopo {
	font-size: 60px;
    font-weight: bold;
    color: #fff;
    padding: 10px;

    display: block;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx responsive*/
.col-col {width: 99.99999%;}
.col-metade {width: 49.99999%;}
.col-terco {width: 33.33333% ;}
.col-2terco {width: 66.66666%;}
.col-quarto {width: 24.99999%;}
.col-3quarto {width: 74.99999%;}

.col-1 { width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%; }
.col-5 {width: 41.66%; }
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%; }

[class*="col-"] {
	float: left;
}

.row::after {
	content: "";
	display: block;
	clear: both;
}

.no-float {
	float: none !important;
}

@media only screen and (max-width: 768px) {
	[class*="col-"] {
		width: 100%;
	}

	img {
		width: 98%;
	}

	.engloba-tabela {
		overflow: scroll;
	}
	#apresentacao {
		height: 100% !important;
	}
}